body {
  background-color: #CCBEC1;
  padding:15px;
}

h1, p {
  margin: 10px;
}

h1 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

img {
  width: 100%;
  border-radius: 30px;
  margin: 10px;
}

.box {
  width: 50%;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable { 
  cursor: pointer;
  color: 0088cc;
  font-weight: bold;
}

#beach-color-reveal, #circle, #birds, #tank, #mollusk, #fuel, #north, #trading-post, #the-end {
  display: none;
}

